import React from 'react';

export interface {{pascalCase name}}Props {
  /* add interface here */
}

export function {{pascalCase name}}({}: {{pascalCase name}}Props) {
  return <div>{/* code implementation here */}</div>;
}
